.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 58vh;
  background-color: #f0f0f0;
}

.ad-banner {
  display: flex;
  align-content: flex-start;
  margin: 10px 0;
}
img.ad-banner {
  width: 70%;
}
.ad-banner img {
  max-width: 70%;
  height: auto;
  vertical-align: baseline;
}

.login-box {
  width: 30%;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 0% 1% 0% 3%;
  height: 33vh;
}

.login-box h2 {
  margin-bottom: 20px;
}

.input-group {
  margin-bottom: 15px;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.login-button {
  width: 100%;
  padding: 10px;
  background-color: #ff0000;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}
/* src/styles/LoginForm.css */
.login-form {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  margin: 0 auto;
}

.login-form h2 {
  margin-bottom: 20px;
}

.login-form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.proceed-button {
  width: 100%;
  padding: 10px;
  background-color: #ff0000;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}
